*.html linguist-detectable=false
*.c linguist-detectable=true
*.ts linguist-detectable=true
*.wasm linguist-detectable=true
*.py linguist-detectable=true
*.js linguist-detectable=true
*.css linguist-detectable=true