html {
    background: #555;
    font-family: "Menlo",monospace;
    color: #fff
}

button {font-family: "Menlo",monospace;}

* {
    box-sizing: border-box
}

#wrapper {
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 9vh
}

footer {
    margin-top: 6vh;
}

#canvas {
    display: block;
    max-width: 585px;
    width: 100%;
    margin: 0 auto 1px
}

#pos {
    display: inline-grid;
    grid-template-rows: 30px 30px 30px;
    grid-template-columns: 100px
}

#controls,#terrain-3d {
    max-width: 585px;
    margin: 0 auto;
    font-size: 0
}

#controls #mag,#controls .directional {
    vertical-align: top;
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr
}

#controls #mag {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr
}

.pos-wrapper,button {
    font-size: 16px;
    background: #444;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}

.pos-wrapper input,input {
    width: 60%;
    background-color: #555;
    font-size: 16px;
    color: #fff;
    border: 0;
    text-align: left
}

input {
    margin: 3px 5px;
    padding-left: 4px;
    text-align: center;
    width: 97%
}

button:disabled {
    background: #242424;
    color: #444;
    border: 1px solid #555
}

.parent {
    display: grid;
    grid-template-columns: 1fr 2fr 6fr 3fr;
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 0;
    grid-row-gap: 0
}
#enter-seed-wrapper {grid-area: 1/3/2/4}
#load-seed {grid-area: 2/3/3/4}
#gen-seed {grid-area: 3/3/4/4}
#mag {grid-area: 1/1/4/2}
#x-wrapper {grid-area: 1/4/2/5}
#y-wrapper {grid-area: 2/4/3/5}
#go-to-btn {grid-area: 3/4/4/5}
.directional {grid-area: 1/2/4/3}
#enter-seed-wrapper {
    background: #444;
    text-align: center;
}

p,ol#toc li {
    line-height: 1.5
}

p {
    color: #c2c2c2;
}

h1,h2 {
    margin-top: 30px
}

h2 {
    font-size: 18px
}

h1 {
    margin-bottom: 0.25em;
}

h1 img {
    height: 1.5em;
    width: 1.5em;
    margin-top: -0.2em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
    image-rendering: crisp-edges;
}

h2#sub-title {
    font-size: 22px;
    margin-top: 0;
}

h3 {
    font-size: 16px;
    opacity: 1;
}

table {
    width: 100%;
    border-collapse: collapse
}

table,td,th {
    border: solid 1px #fff;
    padding: 12px
}

#comp-table tr th:nth-child(1) {
    text-align: left
}

#comp-table tr td:nth-child(2),#comp-table tr td:nth-child(3),#comp-table tr th:nth-child(2),#comp-table tr th:nth-child(3) {
    text-align: right
}

ol ol {
    list-style: lower-alpha
}

ol.bib li {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px
}

a,a:visited {
    color: #ff8c00;
    opacity: .85;
    text-decoration: underline
}

a:hover {
    opacity: 1;
    color: orange
}

code {
    display: inline-block;
    font-size: 17px;
    padding: 0 6px;
    border-radius: 5px;
    background-color: #444
}